*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: #009A7E;
}

/* header section */

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.logo{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin-left: 4%;
}
.logo span{
    color: black;
}
.navbar{
    margin-right: 4%;
}

.navbar a{
    padding: 10px;
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.btnRegister{
    margin-left: 20px;
    color: white;
    background-color: black;
    border: none;
    height: 35px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btnRegister:hover{
    color: white;
    background-color: transparent;
    border: 2px solid white;
}
.view-students{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
}
.student-tbl{
    width: 100%;    
}
.student-tbl th{
    padding: 1%;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #009A7E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.student-tbl td{
    background-color: #F4F4F4;
    padding: 1%; 
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.student-tbl td button{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #009A7E;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    cursor: pointer;

}
.student-tbl td button:hover{
    background-color: black;
    border: 2px solid white;
}