*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: #009A7E;
}

/* header section */
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.logo{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin-left: 4%;
}
.logo span{
    color: black;
}
.navbar{
    margin-right: 4%;
}
.navbar a{
    padding: 10px;
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.logreg-box{
    height: 100%;
    width: 100%;
}
.login{
   margin-left: 4%;
   margin-right: 4%;
   margin-top: 2%;
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
   background-color: #F4F4F4;
}
.login .login-content{
    flex: 1 1 40rem;
    display: flex;
}
.login .image1{
    flex: 1 1 40rem;
}
.login .image1 img{
    width: 100%;
    height: 100%;
}
.login-form{
   padding: 2%;
   margin-right: 2%;
}
.social-icons a i{
    font-size: 22px;
    color: black;
    margin-right: 10px;
    transition: .5s ease;
}
.social-icons a :hover i{
    transform: scale(1.2);
}
.logreg-box .form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.user-icon{
    font-size: 61px;
    margin-left: 138px;
}
.form-box h2{
    font-size: 32px;
    text-align: center;     
}
.form-box .input-box{
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}
.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}
.form-box .remember-forgot{
    font-size: 14.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.btn{
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0,0,0, .5);
    background-color: black;
    color: white;
}
.btn:hover{
    background: #009A7E; 
}

