*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: #009A7E;
}

/* header section */

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.logo{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin-left: 4%;
}
.logo span{
    color: black;
}
.navbar{
    margin-right: 4%;
}

.navbar a{
    padding: 10px;
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.btnLogin{
    margin-left: 20px;
    color: white;
    background-color: black;
    border: none;
    height: 35px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btnLogin:hover{
    color: black;
    background-color: transparent;
    border: 2px solid black;
}

/* Body section  */

.container{
    background-color: #F4F4F4;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
   
}
.content{
    display: flex;
    background-color: #F4F4F4;
}
.content-body{
    padding: 4%;
}
.content-body h2{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.content-body h2 span{
    color: #009A7E;
}
.image img{
    width: 100%;
    height: 100%;
} 
.content-body p{
    margin-top: 15px;
    font-size: 18px;
}
.content-body  button{
    margin-top: 20px;
    width: 120px;
    height: 30px;
    font-size: 15px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.content-body  button:hover{
    background-color: #009A7E;
}

/* body section 1 */

.section1{
    margin-top: 4%;
    /* background-color: purple; */
}
.section1 h2{
    text-align: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.myCards{
    display: flex;
    /* background-color: red; */
    
}
.square{
    width: 50px;
    height: 50px;
    background-color: #009A7E;
    margin: 2%;
    
}
.myCard{
    background-color: #F4F4F4;
    display: flex;
    border-radius: 5px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 4%;

    /* margin: 4%; */
   
}
.card-content h5{
    font-size: 16px;
    font-weight: bold;
    padding: 1%;
}
.card-content p{
    padding-left: 2%;
 
}

/* body section 2 */

.section2 h2{
    text-align: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.courses{
    margin-right: 4%;
}
.course{
    display: flex;
}
.card{
    position: relative;
    width: 20%;
    height:20%;
    background-color: #F4F4F4;
    border-radius: 5px;
    margin-left: 4%;
    margin-top: 4%;
}
.image{
    width: 100%;
    object-fit: cover;
}
.courseContainer{
    align-items: center;
    justify-content: center;
    height: auto;
   
}
.h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

/* Footer Section */

.footer{
    margin: 4%;
    background-color: black;
    color: white;
}
.footer-content{
    display: flex;
    padding: 4%;
}
.box1{
    margin-left: 7%;
}
.box1 h3{
    font-size: 25px;
}
.box1 h3 span{
    color: #009A7E;
}
.box2{
    margin-left: 10%;
   
}
.box2 h4{
    font-size: 20px;
}
.box3{
    margin-left: 10%;
}
.box3 h4{
   font-size: 20px;
}
.box4{
    margin-left: 10%;
}
.box4 h4{
    font-size: 20px;
}
.box4 span{
    color: #009A7E;
}
.contact{
    font-size: 25px;
    padding: 4%;
    margin-left: 4%;
}
.contact span{
    margin-left: 4%; 
}
.contact  i{
     padding: 2%;
}