*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: #009A7E;
}

/* header section */

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.logo{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin-left: 4%;
}
.logo span{
    color: black;
}
.navbar{
    margin-right: 4%;
}

.navbar a{
    padding: 10px;
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.section1{
    
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
}
.tbl{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}
.tbl th{
    /* border: none; */
}

/* .td{
    margin: 2%;
} */
/* .tbl{
    min-width: 500px;
} */

.testmonals-col{
    background-color: white;
    width: 320px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    

 }

 .testmonals-col h2{
    text-align: center;
    color: #009A7E;
    
 }

 .testmonals-col span{
    margin-top: 5px;
    margin: 2%;
    padding: 2%;
    font-size: 20px;
    
    
 }
 .testmonals-col button{
    width: 65px;
    height: 25px;
    background-color: black;
    color: white;
    margin: 2%;
    
 }